<div class="box">
	<h1>Dodaj vprasanje</h1>
    <form action="/questions" method="post">
        <div class="input-container">
            <input type="text" name="questionText" required=""/>
            <label>Vprašaje</label>		
        </div>
        <textarea name="description" placeholder="Enter your text here" required></textarea><br>
        <input class="btn" type="submit" value="prijava">
    </form>	
</div>