<div class="box">
	<h1>Registracija</h1>
    <form action="/users" method="post">
        <div class="input-container">
            <input type="text" name="email" required=""/>
            <label>Email</label>		
        </div>
        <div class="input-container">
            <input type="text" name="username" required=""/>
            <label>Uporabniško ime</label>		
        </div>
        <div class="input-container">		
            <input type="mail" name="password" required=""/>
            <label>Geslo</label>
        </div>
            <input class="btn" type="submit" value="prijava">
    </form>	
</div>
